-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: scholarease_db
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applications` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `scholarship_id` bigint unsigned NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `applications_user_id_scholarship_id_unique` (`user_id`,`scholarship_id`),
  KEY `applications_scholarship_id_foreign` (`scholarship_id`),
  CONSTRAINT `applications_scholarship_id_foreign` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarships` (`id`) ON DELETE CASCADE,
  CONSTRAINT `applications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookmarks`
--

DROP TABLE IF EXISTS `bookmarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookmarks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `scholarship_id` bigint unsigned NOT NULL,
  `notification_sent` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bookmarks_user_id_foreign` (`user_id`),
  KEY `bookmarks_scholarship_id_foreign` (`scholarship_id`),
  CONSTRAINT `bookmarks_scholarship_id_foreign` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarships` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bookmarks_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmarks`
--

LOCK TABLES `bookmarks` WRITE;
/*!40000 ALTER TABLE `bookmarks` DISABLE KEYS */;
INSERT INTO `bookmarks` VALUES (11,4,103,0,'2026-02-01 07:04:29','2026-02-01 07:04:29');
/*!40000 ALTER TABLE `bookmarks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category_definitions`
--

DROP TABLE IF EXISTS `category_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category_definitions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_type` enum('academic','income','study_path') COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `min_value` int DEFAULT NULL,
  `max_value` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_category` (`category_type`,`code`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category_definitions`
--

LOCK TABLES `category_definitions` WRITE;
/*!40000 ALTER TABLE `category_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `category_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_id` bigint unsigned NOT NULL,
  `data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scholarship_eligibility_criteria`
--

DROP TABLE IF EXISTS `scholarship_eligibility_criteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scholarship_eligibility_criteria` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `scholarship_id` bigint unsigned NOT NULL,
  `min_spm_as` int DEFAULT NULL COMMENT 'Minimum number of As required (e.g., 7, 8, 9)',
  `max_spm_as` int DEFAULT NULL COMMENT 'Maximum number of As (rarely used, usually NULL)',
  `academic_categories` json DEFAULT NULL COMMENT 'Array of acceptable categories: ["A2","A3","A4"]',
  `required_subjects` json DEFAULT NULL COMMENT 'Specific subject grade requirements',
  `bumiputera_required` tinyint(1) DEFAULT '0' COMMENT 'Must be Bumiputera',
  `bumiputera_priority` tinyint(1) DEFAULT '0' COMMENT 'Preference given to Bumiputera',
  `gender_requirement` enum('Any','Male','Female') COLLATE utf8mb4_unicode_ci DEFAULT 'Any' COMMENT 'Gender requirement',
  `citizenship_required` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state_requirement` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rural_priority` tinyint(1) DEFAULT '0' COMMENT 'Priority for rural students',
  `income_categories` json DEFAULT NULL COMMENT 'Array of acceptable income levels: ["B1","B3"]',
  `max_monthly_income` decimal(10,2) DEFAULT NULL COMMENT 'Maximum household income in RM',
  `study_paths` json DEFAULT NULL COMMENT 'Array of acceptable study paths: ["C1","C2","C3"]',
  `fields_of_study` json DEFAULT NULL COMMENT 'Specific fields: ["Engineering","Medicine"]',
  `study_destination` enum('Local','Overseas','Both') COLLATE utf8mb4_unicode_ci DEFAULT 'Both' COMMENT 'Study location',
  `min_age` int DEFAULT NULL COMMENT 'Minimum age requirement',
  `max_age` int DEFAULT NULL COMMENT 'Maximum age requirement (e.g., 18, 19)',
  `leadership_required` tinyint(1) DEFAULT '0' COMMENT 'Leadership experience required',
  `leadership_priority` tinyint(1) DEFAULT '0' COMMENT 'Preference for leadership',
  `sports_achievement` tinyint(1) DEFAULT '0' COMMENT 'Sports achievements required',
  `min_community_hours` int DEFAULT NULL COMMENT 'Minimum community service hours',
  `bond_required` tinyint(1) DEFAULT '0' COMMENT 'Service bond required after graduation',
  `bond_years` int DEFAULT NULL COMMENT 'Years of bond service',
  `match_all_criteria` tinyint(1) DEFAULT '1' COMMENT 'TRUE = must match ALL criteria, FALSE = match ANY',
  `priority_weight` int DEFAULT '1' COMMENT 'Priority for sorting results (1=highest)',
  `notes` text COLLATE utf8mb4_unicode_ci COMMENT 'Additional notes about eligibility',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `income_strict` tinyint(1) DEFAULT '1' COMMENT '1 = must match income, 0 = priority only',
  `study_path_strict` tinyint(1) DEFAULT '1' COMMENT '1 = must match study path, 0 = priority only',
  `max_score` int DEFAULT '100' COMMENT 'Maximum matching score',
  PRIMARY KEY (`id`),
  KEY `idx_scholarship_id` (`scholarship_id`),
  KEY `idx_min_spm_as` (`min_spm_as`),
  KEY `idx_bumiputera` (`bumiputera_required`),
  KEY `idx_study_destination` (`study_destination`),
  KEY `idx_income_strict` (`income_strict`),
  CONSTRAINT `scholarship_eligibility_criteria_ibfk_1` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarships` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scholarship_eligibility_criteria`
--

LOCK TABLES `scholarship_eligibility_criteria` WRITE;
/*!40000 ALTER TABLE `scholarship_eligibility_criteria` DISABLE KEYS */;
/*!40000 ALTER TABLE `scholarship_eligibility_criteria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `scholarship_full_details`
--

DROP TABLE IF EXISTS `scholarship_full_details`;
/*!50001 DROP VIEW IF EXISTS `scholarship_full_details`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `scholarship_full_details` AS SELECT 
 1 AS `id`,
 1 AS `title`,
 1 AS `provider`,
 1 AS `description`,
 1 AS `deadline`,
 1 AS `application_link`,
 1 AS `is_active`,
 1 AS `min_spm_as`,
 1 AS `max_spm_as`,
 1 AS `academic_categories`,
 1 AS `required_subjects`,
 1 AS `bumiputera_required`,
 1 AS `bumiputera_priority`,
 1 AS `gender_requirement`,
 1 AS `citizenship_required`,
 1 AS `state_requirement`,
 1 AS `income_categories`,
 1 AS `max_monthly_income`,
 1 AS `study_paths`,
 1 AS `fields_of_study`,
 1 AS `study_destination`,
 1 AS `max_age`,
 1 AS `min_age`,
 1 AS `leadership_required`,
 1 AS `leadership_priority`,
 1 AS `sports_achievement`,
 1 AS `bond_required`,
 1 AS `bond_years`,
 1 AS `legacy_academic`,
 1 AS `legacy_income`,
 1 AS `legacy_study_path`,
 1 AS `legacy_biasiswa_level`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `scholarship_rules`
--

DROP TABLE IF EXISTS `scholarship_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scholarship_rules` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `rule_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `result` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `min_value` int DEFAULT NULL,
  `max_value` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scholarship_rules`
--

LOCK TABLES `scholarship_rules` WRITE;
/*!40000 ALTER TABLE `scholarship_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `scholarship_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scholarships`
--

DROP TABLE IF EXISTS `scholarships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scholarships` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `eligibility` text COLLATE utf8mb4_unicode_ci,
  `provider` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_eligibility` longtext COLLATE utf8mb4_unicode_ci,
  `academic_category` enum('A1','A2','A3','A4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `income_category` enum('B1','B3','B4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `study_path` enum('C1','C2','C3','C4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `biasiswa_level` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `deadline` date DEFAULT NULL,
  `application_link` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source` enum('manual','scraped') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `is_official` tinyint(1) NOT NULL DEFAULT '0',
  `source_website` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scholarship_level` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `scholarships_scholarship_level_index` (`scholarship_level`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_provider` (`provider`),
  KEY `idx_source` (`source`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scholarships`
--

LOCK TABLES `scholarships` WRITE;
/*!40000 ALTER TABLE `scholarships` DISABLE KEYS */;
/*!40000 ALTER TABLE `scholarships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scraping_logs`
--

DROP TABLE IF EXISTS `scraping_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scraping_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `website_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `website_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pages_to_scrape` int DEFAULT NULL,
  `status` enum('success','failed','in_progress') COLLATE utf8mb4_unicode_ci NOT NULL,
  `scholarships_added` int NOT NULL DEFAULT '0',
  `details` text COLLATE utf8mb4_unicode_ci,
  `duration_seconds` int NOT NULL DEFAULT '0',
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scraping_logs`
--

LOCK TABLES `scraping_logs` WRITE;
/*!40000 ALTER TABLE `scraping_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `scraping_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profiles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `academic_category` enum('A1','A2','A3','A4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `income_category` enum('B1','B3','B4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `study_path` enum('C1','C2','C3','C4') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spm_results` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `total_as` int DEFAULT NULL COMMENT 'Total number of A grades from SPM',
  `bumiputera` tinyint(1) DEFAULT '0' COMMENT 'Is Bumiputera (1=Yes, 0=No)',
  `age` int DEFAULT NULL COMMENT 'User age',
  `gender` enum('Male','Female') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'User gender',
  `state` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'User state of origin',
  `has_leadership` tinyint(1) DEFAULT '0' COMMENT 'Leadership experience',
  PRIMARY KEY (`id`),
  KEY `user_profiles_user_id_foreign` (`user_id`),
  CONSTRAINT `user_profiles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('user','admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `telegram_chat_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `scholarship_full_details`
--

/*!50001 DROP VIEW IF EXISTS `scholarship_full_details`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `scholarship_full_details` AS select `s`.`id` AS `id`,`s`.`title` AS `title`,`s`.`provider` AS `provider`,`s`.`description` AS `description`,`s`.`deadline` AS `deadline`,`s`.`application_link` AS `application_link`,`s`.`is_active` AS `is_active`,`sec`.`min_spm_as` AS `min_spm_as`,`sec`.`max_spm_as` AS `max_spm_as`,`sec`.`academic_categories` AS `academic_categories`,`sec`.`required_subjects` AS `required_subjects`,`sec`.`bumiputera_required` AS `bumiputera_required`,`sec`.`bumiputera_priority` AS `bumiputera_priority`,`sec`.`gender_requirement` AS `gender_requirement`,`sec`.`citizenship_required` AS `citizenship_required`,`sec`.`state_requirement` AS `state_requirement`,`sec`.`income_categories` AS `income_categories`,`sec`.`max_monthly_income` AS `max_monthly_income`,`sec`.`study_paths` AS `study_paths`,`sec`.`fields_of_study` AS `fields_of_study`,`sec`.`study_destination` AS `study_destination`,`sec`.`max_age` AS `max_age`,`sec`.`min_age` AS `min_age`,`sec`.`leadership_required` AS `leadership_required`,`sec`.`leadership_priority` AS `leadership_priority`,`sec`.`sports_achievement` AS `sports_achievement`,`sec`.`bond_required` AS `bond_required`,`sec`.`bond_years` AS `bond_years`,`s`.`academic_category` AS `legacy_academic`,`s`.`income_category` AS `legacy_income`,`s`.`study_path` AS `legacy_study_path`,`s`.`biasiswa_level` AS `legacy_biasiswa_level` from (`scholarships` `s` left join `scholarship_eligibility_criteria` `sec` on((`s`.`id` = `sec`.`scholarship_id`))) where (`s`.`is_active` = 1) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-02  6:52:16
